.blok{
    text-align: justify;
}
.centr{
    margin-left: auto;
    margin-right: auto;
}
.tdr{
    padding: 10px;
}
.dots{
    list-style-type: none;
}
.fontik{
    font-size: 19px;
}
.card {
    margin-left: auto;
    margin-right: auto;
}
.scrollUp{
    height: 40px;
    width:40px;
    position:fixed;
    right:30px;
    bottom:30px;
    display:none;
}/*
@media only screen and (max-width: 760px) {
   .scrollUp {
       display: none; 
    }
 }
*/